body {
  font-size: 10px;
  font-family: 'Courier', monospace;
  background-color: #FFFAF0;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: black;
  font-weight: 300;
}

p, li {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}